@import "../../scss/variebles";

.auth-page-wrapper {
  padding: 152px 0 152px;
}

.auth-page-wrapper--dark {
  background-color: $secondary;
  color: $white;
}

.auth-page-wrapper__back-link {
  display: block;
  border: none;
  background: none;
  margin-bottom: 32px;
  line-height: $line-height-b2;
  color: $secondary;
  transition: color 0.3s ease;
  &:hover {
    color: $primary;
  }
}

.auth-page-wrapper__title {
  font-weight: $font-weight-700;
  font-size: $h1;
  line-height: $line-height-h1;
  color: $secondary;
  margin-bottom: 72px;
}
