// Colors
$primary: #2231aa;
$primary-2: #5360cd;
$secondary: #313037;
$gray: #8d8e97;
$medium: #DADADA;
$extra-light: #f3f3f3;
$error: #fd3419;
$white: #ffffff;
$light: #e8e8e8;

// Typography
// desktop
$h1: 56px;
$h2: 32px;
$h3: 18px;
$s1: 16px;
$b1: 18px;
$b2: 16px;

// tablet
$h1-xl: 56px;
$h2-xl: 32px;
$h3-xl: 18px;
$s1-xl: 16px;
$b1-xl: 18px;
$b2-xl: 16px;

// mobiel
$h1-sm: 32px;
$h2-sm: 24px;
$h3-sm: 18px;
$s1-sm: 16px;
$b1-sm: 16px;
$b2-sm: 16px;

// font-weight
$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-400: 400;

// line-height
$line-height-h1: 80px;
$line-height-h2: 44px;
$line-height-h3: 28px;
$line-height-s1: 24px;
$line-height-b1: 32px;
$line-height-b2: 24px;

// line-height-sm
$line-height-h1-sm: 48px;
$line-height-h2-sm: 36px;
$line-height-h3-sm: 28px;
$line-height-s1-sm: 24px;
$line-height-b1-sm: 24px;
$line-height-b2-sm: 24px;

// Vertical Rythm
// desktop & tablet
$level-1: 72px;
$level-2: 64px;
$level-3: 48px;
$level-4: 40px;
$level-5: 32px;
$level-6: 24px;
$level-7: 16px;
$level-8: 8px;

// mobile
$level-1-sm: 56px;
$level-2-sm: 48px;
$level-3-sm: 36px;
$level-4-sm: 32px;
$level-5-sm: 28px;
$level-6-sm: 24px;
$level-7-sm: 16px;
$level-8-sm: 8px;

// border radius
$border-radius-base: 2px;
